@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';

// ------------------- header styles
// ----------- map styles
.header {
  position: relative;
  height: 100vh;
}
.header__map {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}
.header__arrows {
  position: absolute;
  left: 210px;
  bottom: 40px;
  z-index: 3;
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 3s infinite 4s;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

// ------------ aside styles
.header__aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  left: 0;
  z-index: 5;
  border-right: 1px solid rgba(#fff, 0.25);
  height: 100vh;
  color: #ffffff7e;
  text-align: center;
}
.header__title {
  font-size: 200px;
  line-height: 156px;
  color: #fff;
  opacity: 0.07;
  font-weight: 800;
  max-width: 467px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.header__date {
  font-size: 72px;
  line-height: 64px;
  font-weight: 800;
  span {
    padding-top: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    display: block;
  }
}
.header__search {
  padding-top: 15px;
  padding-bottom: 35px;
}
.header__location {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  font-weight: 300;
  position: relative;
  text-transform: capitalize;
  &::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 13px;
    background-image: url(../images/marker.svg);
    background-repeat: no-repeat;
    left: 0;
    top: 0;
  }
}

.logo img {
  display: block;
  max-width: 160px;
}

.menu {
  margin-top: 30px;
  svg {
    width: 30px;
  }
  a {
    color: lightgray;
    span {
      display: block;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 3px;
      font-weight: 500;
      margin-top: 6px;
      margin-bottom: 20px;
      text-transform: capitalize;
    }
  }
}

// ------------- slider / dots styles
.header__slider {
  &-item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(#000, 0.5);
    }
  }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
  color: #ffffff7e;
}
.slider-item__info-suptitle {
  margin-bottom: 5px;
}
.slider-item__info-suptext {
  margin-bottom: 8px;
}
.slider-item__info-title {
  font-size: 80px;
  line-height: 86px;
  font-weight: 800;
  margin-bottom: 48px;
}
.slider-item__info-text {
  font-size: 40px;
  line-height: 46px;
  font-weight: 800;
  margin-bottom: 20px;
}
.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;
}
.slider-arrows__left {
  right: 125px;
}
.slider-dotshead {
  position: absolute;
  right: 50px;
  bottom: 40px;
  max-width: 920px;
  width: 100%;
  color: #fff;
  .slick-current {
    .dots-box {
      border-top: 7px solid $purple;
    }
  }
}
.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  align-items: center;
  border-top: 7px solid #fff;
  padding-top: 6px;
  &__number {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }
  &__name {
    font-weight: 300;
    line-height: 19px;
    text-transform: capitalize;
  }
}

// ----------- universe styles
.universe {
  background-position: right 200px;
  background-repeat: no-repeat;
  background-size: auto;
}
.universe__subtitle {
  text-align: right;
  padding-right: 80px;
  margin-top: -86px;
}

// ----------- universe map
.slider-map {
  max-width: 1920px;
  min-height: 1035px;
  background: url(../images/map.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 30px 28px 28px #232d30 inset;
  .slick-list {
    min-height: 945px;
  }
  .slick-current {
    .slider-dots__content {
      display: block;
      width: 285px;
      padding: 28px 31px 0 32px;
    }
  }
}

.slider-dots__content-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.slider-dots__content-item {
  text-align: center;
  img {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 7px;
  }
}
.slider-dots__content-number {
  font-size: 16px;
  line-height: 23px;
  font-weight: 800;
}
.slider-dots__content-name {
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
}
.slider-dots__content-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  padding-bottom: 8px;
  margin-bottom: 8px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background-color: $purple;
    width: 80px;
    height: 1px;
    bottom: 0;
    left: 0;
  }
}
.slider-dots__content-subtitle {
  line-height: 19px;
  text-transform: capitalize;
  font-size: 16px;
}
.slider-dots__content-link {
  padding-top: 4px;
}
.slider-dots__circle {
  width: 23px;
  height: 23px;
  background-color: $purple;
  border-radius: 50%;
}
.slider-dots__content {
  z-index: 1;
  display: none;
  background: rgba(#0f1010, 0.9);
  border-radius: 6px;
  position: absolute;
  bottom: 35px;
  transform: translateX(-50%);
  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid $purple;
    border-left: 11px solid transparent;
    border-right: 12px solid transparent;
    bottom: -21px;
    left: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.slider-dots__content--down {
  z-index: 1;
  display: none;
  background: rgba(#0f1010, 0.9);
  border-radius: 6px;
  position: absolute;
  bottom: -230px;
  transform: translateX(-50%);
  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid $purple;
    border-bottom: 0;
    border-left: 11px solid transparent;
    border-right: 12px solid transparent;
    bottom: 218px;
    left: 144px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.slider-dots {
  position: relative;
  .slider-dots__content {
    transform: translateX(-50.4%);
  }
}

// ------------ positioning the dots
.slider-dots--1 {
  top: 370px;
  left: 360px;
}
.slider-dots--2 {
  top: 370px;
  left: 385px;
  .slider-dots__circle {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 14px;
      height: 17px;
      background-size: cover;
      top: -25px;
      right: -15px;
    }
  }
  .slider-dots__content {
    &::before {
      bottom: 219px;
    }
  }
}
.slider-dots--3 {
  top: 100px;
  left: 270px;
}
.slider-dots--4 {
  top: 100px;
  left: 295px;
}
.slider-dots--5 {
  top: 740px;
  left: 225px;
  .slider-dots__content {
    &::before {
      border-left: 13px solid transparent;
      bottom: -22px;
    }
  }
}
.slider-dots--6 {
  top: 740px;
  left: 235px;
  .slider-dots__content {
    &::before {
      border-left: 13px solid transparent;
      bottom: -22px;
      left: 142.2px;
    }
  }
}
.slider-dots--7 {
  top: 270px;
  left: 290px;
  .slider-dots__content {
    &::before {
      border-left: 13px solid transparent;
      bottom: -22px;
    }
  }
}
.slider-dots--8 {
  top: 270px;
  left: 305px;
  .slider-dots__content {
    &::before {
      left: 144px;
    }
  }
}
.slider-dots--9 {
  top: 700px;
  left: 190px;
}
.slider-dots--10 {
  top: 700px;
  left: 210px;
  .slider-dots__content {
    &::before {
      left: 144px;
    }
  }
}
.slider-dots--11 {
  top: 400px;
  left: 235px;
  .slider-dots__content {
    &::before {
      left: 144px;
    }
  }
}
.slider-dots--12 {
  top: 400px;
  left: 235px;
  .slider-dots__content {
    &::before {
      left: 144px;
    }
  }
}
.slider-dots--13 {
  top: 660px;
  left: 80px;
  .slider-dots__content {
    &::before {
      left: 144px;
    }
  }
}
.slider-dots--14 {
  top: 660px;
  left: 100px;
  .slider-dots__content {
    &::before {
      left: 144px;
    }
  }
}
.slider-dots--15 {
  top: 250px;
  left: 150px;
}
.slider-dots--16 {
  top: 250px;
  left: 185px;
  .slider-dots__content {
    &::before {
      left: 144px;
    }
  }
}
.slider-dots--17 {
  top: 650px;
  left: 10px;
}
.slider-dots--18 {
  top: 650px;
  left: 50px;
}
.slider-dots--19 {
  top: 870px;
  left: 140px;
}
.slider-dots--20 {
  top: 870px;
  left: 140px;
}
.slider-dots--21 {
  top: 660px;
  left: -1400px;
}
.slider-dots--22 {
  top: 660px;
  left: -1400px;
}
.slider-dots--23 {
  top: 920px;
  left: -650px;
}
.slider-dots--24 {
  top: 920px;
  left: -650px;
}

// ------------- universe slider
.universe-slider {
  margin-top: -90px;
  .slider-arrows {
    top: 50px;
    opacity: 0.25;
  }
  .slick-slide:nth-child(4n + 1) {
    .universe-box {
      margin-top: 32px;
    }
  }
  .slick-slide:nth-child(4n + 3) {
    .universe-box {
      margin-top: 89px;
    }
  }
  .slick-current {
    .universe-box__inner-btn {
      display: block;
    }
    .universe-box__inner {
      background-color: rgba(#1c2121, 0.3);
    }
  }
}
.universe-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    min-height: 650px;
    background: rgba(#1c2121, 0.85);
    position: relative;
    transition: all 0.5s;
    &:hover {
      background: rgba(#1c2121, 0.3);
      .universe-box__inner-btn {
        display: block;
      }
    }
  }
}
.universe-box__inner-title {
  font-size: 40px;
  line-height: 36px;
  font-weight: 800;
  padding: 72px 0 0 40px;
  margin-left: 25px;
  width: 140px;
}
.universe-box__inner-location {
  line-height: 22px;
  letter-spacing: 8px;
  font-size: 18px;
  transform: rotate(-90deg);
  position: absolute;
  left: 40px;
  bottom: 80px;
  width: 0;
  height: 0;
  white-space: nowrap;
  span {
    font-weight: 100;
  }
}
.universe-box__inner-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}
